<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-3 is-offset-2">
        <h2><a class="link" href="https://www.aliseeks.com">Aliseeks.com</a></h2>
      </div>
      <div class="column is-3">
        <h2><a class="link" href="./api">API Documentation</a></h2>
      </div>
      <div class="column is-4">
        <h2><a class="link" href="https://www.aliseeks.com/g/contact">Contact Us</a></h2>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>Built by Aliseeks.com</p>
    </div>
  </div>
  <%= javascript_include_tag  "bulma" %>
</footer>
